@{ ViewData["Title"] = "Admin - Dashboard"; }

<section class="container-fluid mt-5">
    <div class="row mt-4 bg-light justify-content-center shadow-sm">
        <div class="p-2 mt-2 d-flex col-10 gap-5">
            <a class="text-dark text-decoration-none me-auto" asp-controller="Account" asp-action="Index">Admin Superstar - @(User.FindFirst("DisplayName")?.Value)!</a>
            <a class="text-dark text-decoration-none" asp-controller="AdminProducts" asp-action="Create">Create New Product</a>
            <a class="text-dark text-decoration-none" asp-controller="AdminProducts" asp-action="Index">All Products</a>
            <a class="text-dark text-decoration-none" asp-controller="Account" asp-action="SignOut">Sign Out</a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-10">
            <h5 class="my-5 text-center">All Users in Database:</h5>

            @foreach (var user in userManager.Users.ToList().AsEnumerable().Reverse())
            {
                <div class="card my-2 bg-light">
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <p class="card-text">Email: @user.Email</p>
                            </div>
                            <div class="col">
                                @foreach (var role in userManager.GetRolesAsync(user).Result)
                                {
                                    <div>
                                        <p class="card-text">Role: @role</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
