@model ContactFormViewModel

@{ ViewData["Title"] = "Contact Us"; }

<section class="container mt-5">
    <div class="d-flex justify-content-center">
        <form class="col-10 col-xl-6 my-5" method="post" enctype="multipart/form-data" novalidate>
            @if (TempData["SuccessMessage"] != null)
            {
                <div id="successAlert" class="alert alert-success alert-dismissible fade show text-center my-2 pe-2" role="alert">
                    @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <h3 class="text-center bg-secondary text-white shadow-sm p-2 mb-5">Contact Us</h3>
            <div class="my-3">
                <label asp-for="Name" class="form-label">Name*</label>
                <input asp-for="Name" onkeyup="validateRequired(event)" autocomplete="none" />
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email*</label>
                <input asp-for="Email" onkeyup="validateRequired(event)" autocomplete="none" />
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>
            <div class="mb-3">
                <label asp-for="Message" class="form-label">Message*</label>
                <textarea asp-for="Message" rows="5" onkeyup="validateRequired(event)" autocomplete="none"></textarea>
                <small><span asp-validation-for="Message" class="text-danger"></span></small>
            </div>
            <div class="d-grid mt-5">
                <button type="submit" class="btn btn-success py-2">SEND MESSAGE</button>
            </div>
        </form>
    </div>
</section>
