<header>
    <div class="container">
        <div class="logo mb-3"><a href="/"><img src="~/images/logo.svg" alt="logo"></a></div>
        <nav id="menu" class="menu-links">
            <a class="link" asp-controller="home" asp-action="Index">HOME</a>
            <a class="link" asp-controller="product" asp-action="Index">PRODUCTS</a>
            <a class="link" asp-controller="contact" asp-action="Index">CONTACT</a>
        </nav>
        <nav class="menu-icons">
            <a class="link" asp-controller="Home" asp-action="Index"><i class="fa-regular fa-search"></i></a>
            @if (signInManager.IsSignedIn(User))
            {
                <a class="link text-nowrap" asp-controller="Account" asp-action="Index">My Account</a>
            }
            else
            {
                <div class="d-flex">
                    <a class="link text-nowrap" asp-controller="Account" asp-action="SignIn">Sign In</a>
                    <a class="link text-nowrap" asp-controller="Account" asp-action="SignUp">Sign Up</a>
                </div>
            }
            <a class="link" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
        <div class="toggle">
            <button class="btn-toggle btn-outline-white" data-option="toggle" data-target="#menu">
                <i id="icon" class="fa-regular fa-bars"></i>
            </button>
        </div>
    </div>
</header>
